extends layout

block content
	if session.isLoggedIn
		p
			a(href="/post/create") New post

	if !(posts && posts.length)
		p Nothing to see here. Move along...
	else
		.row
			each post in posts
				.col-md-4
					h2= post.title
					p= post.body
					p
						a(class="btn btn-default", href="/post/#{post.id}", role="button") View details &raquo;
