extends layout

block contentheader
		.jumbotron
			.container
				h1 Hello, world!
				p This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique
				p
					a(href="/signup", class="btn btn-primary btn-lg", role="button") Sign up

block content
	if session.isLoggedIn
		p
			a(href="/post/create") New post

	if !(posts && posts.length)
		p Nothing to see here. Move along...
	else
		.row
			each post in posts
				.col-md-4
					h2= post.title
					p= post.body
					p
						a(class="btn btn-default", href="/post/#{post.id}", role="button") View details &raquo;
