html
	head
		title= pageTitle
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/style.css')
	body
		.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
			.container
				.navbar-header
					button.navbar-toggle(type='button') Milos Novicevic
					a.navbar-brand(href="/") Blogs
				.navbar-collapse.collapse
					if session.isLoggedIn
						a(href="/logout") Logout
					else
						form.navbar-form.navbar-right(role="form", name="login", action="/login", method="post")
							.form-group
								input.form-control(name='email', type='text', placeholder="Email")
							.form-group
								input.form-control(name='pass', type='password', placeholder="Password")
							button.btn.btn-success(type='submit') Sign In

		block contentheader

		.container
			block content

		block scripts
			script(type='text/javascript', src='/js/jquery-2.1.1.js')
			script(type='text/javascript', src='/js/bootstrap.js')